@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

* {
    box-sizing: border-box;
}

body {
  color: #53585f;
  line-height: 1.42857143;
  /* overflow-x: hidden; */
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
  position: sticky;
  background-color: white;
  z-index: 100;
}
nav .menu-icon {
  display: none;
}
nav .logo > img {
  width: 120px;
  height: 45px;
}
.search {
  width: 35%;
  height: 80px;
}
.search > input[type="text"] {
  width: 100%;
  height: 100%;
  margin-top: -10px;
  background-color: #f7f7f7;
  border: none;
  color: #c1c1c1;
  cursor: pointer;
  border-radius: 5px;
  color: #a6aaa9;
  font-size: 1rem;
}

nav .user-icon {
  width: 15%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

nav .hide-user-icons-default {
  display: none;
}

nav .user-icon span {
  font-size: 2rem;
  color: rgb(194, 192, 192);
  font-weight: 200;
}
nav .user-icon span:hover {
  color: orange;
  fill: orange;
}

nav .user-icon a {
  text-decoration: none;
  color: rgb(194, 192, 192);
}

nav .user-icon a:visited {
  text-decoration: none;
  color: rgb(194, 192, 192);
}

.nav .search input::placeholder {
  font-size: 2rem;
}

/* Section */
.list-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-self: center;
  padding: 1rem;
  background-color: white;
  border-top: 1px solid rgba(166, 170, 169, 0.5);
  border-bottom: 1px solid rgba(166, 170, 169, 0.5);
}

.list-section h3 {
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  text-align: left;
}
.list-section ul {
  width: 22%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  align-items: flex-start;
}

.list-section ul li,
.list-section ul li a {
  margin-right: 1rem;
  font-family: "Myriad Pro Light";
  font-size: 1.2rem;
  font-weight: 400;
  color: #a6aaa9;
  cursor: pointer;
  text-decoration: none;
}
.list-section ul li a:hover {
  color: orange;
}
.list-section ul li a:visited {
  text-decoration: none;
  color: #a6aaa9;
}

.store-locator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #a6aaa9;
  font-size: 0.92rem;
  font-weight: 500;
}

.store-locator a {
  text-decoration: none;
  color: #a09b9b;
}

.store-locator a:visited {
  text-decoration: none;
  color: #a09b9b;
}

.store-locator small {
  padding-right: 5px;
  color: #a09b9b;
  padding-right: 10px;
}
.store-locator .location {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-left: 1px solid #a6aaa9;
  padding-left: 10px;
}

.store-locator .location a {
  text-decoration: none;
  color: #a6aaa9;
}

.store-locator .location a:visited {
  text-decoration: none;
  color: #a6aaa9;
}

.store-locator small {
  padding-right: 5px;
  color: #a6aaa9;
}

.store-locator span:hover {
  color: orange;
}

/* Upper Heading */
.home-gs a {
    color: #93969a;
    text-decoration: none;
}

.home-gs {
    margin-left: 6rem;
    font-size: 2vh;
    color: gray;
}

.home-gs .h1 a:hover {
    color: gray;
    text-decoration: underline;
}

.home-gs .h1 a:visited {
    color: gray;
    text-decoration: none;
}

.heading {
    font-size: 1.5rem;
    text-align: center;
}

/* Main Content */
main {
    display: flex;
    justify-content: center;
    background-color: #f7f7f7;
    padding: 0 0.82rem;
}

/* Sidebar */
.sidebar {
    width: 15rem;
    height: 50vh;
    color: black;
    margin-right: 1.22rem;
}

.sidebar-head {
    display: flex;
    justify-content: space-between;
}

.sidebar h3 {
    color: #65676b;
    margin-left: 1.6rem;
}

.quantity{
    padding-bottom: 1.2rem;
}

.sidebar .bottom {
    border-bottom: 0.0125em solid rgb(169, 167, 167);
    margin-bottom: 0.27rem;
}

.sidebar li,
a {
    list-style: none;
    margin-left: -1.87em;
}

.sidebar h3,
a {
    font-family: "Rubik", sans-serif;
}

.sidebar a {
    color: orange;
    font-weight: 551;
}

.sidebar h3 {
    padding: 0.39em;
    margin: 0;
}

/* Main Content */
.main-content {
    width: 75%;
    /* margin-left: -10vw; */
}

main .main-content .main-content-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
}

main .product-total {
    width: 100%;
    margin-top: 1rem;
    padding: 0 1.41rem;
    display: flex;
    justify-content: space-between;
}

main .product-total #filter {
    border: none;
    font-size: 1rem;
    background-color: #f0f0f0;
    color: #93969a;
}

main .product-total p {
    font-size: 1.1rem;
    color: #93969a;
}

.products {
    margin-top: 23px;
    /* background: blanchedalmond;
    border: 2px solid black; */
    width: 15.188rem;
    height: 70vh;
    word-wrap: break-word;
    overflow: hidden;
    text-align: center;
    align-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: 0.6s ease;
    text-transform: uppercase;
    background-color: white;
}

.products:hover {
    transform: scale(1.01);
    transition: 0.5s ease-in;
    box-shadow: 0 0 5px grey;
}

.product-image {
    margin: auto;
    height: auto;
}

.text-product {
    width: 13.2rem;
    margin: auto;
    /* background-color: brown; */
}

.products h3 {
    color: gray;
    font-weight: lighter;
    font-size: 1.91vh;
}

.product-name {
    font-size: 2.1vh;
    word-break: keep-all;
    font-weight: 550;
    font-family: "Rubik", sans-serif;
    text-align: center;
}

.price-tag {
    font-size: 2.1vh;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.old-price {
    text-decoration: line-through;
}

.current-price {
    color: brown;
    font-weight: 632;
    font-family: "Rubik", sans-serif;
}

.offer {
    font-size: 1.98vh;
    color: red;
}

.add-button {
    margin-top: 1.1rem;
}

.add-button button {
    border-radius: 2.2rem;
    padding: 0.34rem 1.2rem;
    background: transparent;
    font-size: 1.02rem;
    transition: 0.3s ease-out;
    border: 0.1px solid gray;
}

.add-button button:hover {
    cursor: pointer;
    transform: scale(1.02);
    transition: 0.2s ease-in;
    box-shadow: 0px 0px 4px grey;
}


/* Footer */
footer {
  width: 100vw;
  height: auto;
  background-color: #f0f0f0;
  margin-top: 20px;
}
footer .footer-container {
  display: flex;
  justify-content: center;
}
footer .footer-content {
  padding: 3rem;
  line-height: 1.5rem;
}

footer .header h2 {
  font-size: 1.125rem;
}

.footer-links ul {
  list-style-type: none;
}
.footer-links ul li {
  font-size: 0.75rem;
}
.footer-links ul li:hover {
  color: orange;
}

.footer-links ul li a {
  color: orange;
}

.footer-links ul li a:visited {
  color: orange;
}

footer .icons-section {
  display: flex;
  gap: 10rem;
  padding-left: 3rem;
  flex-wrap: wrap;
}

/* Responsive */
@media (max-width: 1024px) {
    .home-gs {
        margin-left: 3rem;
        font-size: 1.8vh;
    }

    .sidebar {
        width: 200px;
        height: auto;
    }

    .main-content {
        width: calc(100% - 200px);
    }

    .products {
        width: 14rem;
        height: auto;
    }
}


@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
        top: 0;
        border: none;
    }

    .main-content {
        width: 100%;
    }

    .products {
        width: 90%;
        height: auto;
    }
}

@media screen and (max-width: 650px){
  main .product-total {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
  }
  main .product-total #filter {
    border: none;
    font-size: 1rem;
    background-color: #f0f0f0;
    color: #93969a;
  }
  main .product-total p {
    font-size: 1.1rem;
    color: #93969a;
  }
}

@media (max-width: 480px) {
    .home-gs {
        margin-left: 1rem;
        font-size: 1.5vh;
    }

    .heading {
        font-size: 1.8rem;
    }

    .sidebar h3,
    .sidebar li,
    .sidebar a {
        font-size: 1rem;
    }

    .products {
        width: 100%;
        height: auto;
        font-size: 1rem;
    }

    .products h3,
    .product-name,
    .price-tag,
    .old-price,
    .current-price,
    .offer {
        font-size: 1.5vh;
    }

    .add-button button {
        padding: 0.2rem 0.8rem;
        font-size: 0.9rem;
    }
}


/* Footer - responsive */

@media screen and (max-width: 956px) {
    footer .icons-section {
      display: flex;
      gap: 3rem;
      padding-left: 3rem;
      flex-wrap: wrap;
    }
  }
  
  footer .icons-section .payment {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  footer .icons-section .connect {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  footer .icons-section .payment .cards-icons img {
    width: 51px;
    height: 51px;
    overflow-clip-margin: content-box;
    overflow: clip;
    object-fit: contain;
  }
  
  footer .icons-section .payment .cards-icons {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    flex-wrap: wrap;
  }
  
  footer .icons-section .connect .social {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    height: 51px;
  }
  
  footer .description {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 3rem;
    margin-top: 20px;
    padding-bottom: 20px;
    color: #53585f;
    font-size: 0.75rem;
    width: 95%;
  }
  
  footer .description .details {
    margin-top: 20px;
  }
  
  footer .copyrights {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    background-color: white;
    color: #727578;
    padding: 15px;
    font-size: 0.88rem;
  }

  @media screen and (max-width: 768px) {
    footer .footer-container {
      display: flex;
      justify-content: flex-start;
    }
    .hide-block {
      display: none;
    }
  
    .show-content {
      display: flex;
      flex-direction: column;
      text-align: left;
    }
  
    .show-content .header h2,
    .payment .header h2,
    .connect .header h2 {
      font-size: 0.85rem;
      font-weight: bold;
    }
  }
